.bundle
db/*.sqlite3
log/*
tmp
tmp/**/*
.#*
*~
+*.swp
db/sphinx/**/*
**/*.bak
*.sw*
*.vim
*.sql
**/*.sw*
**/*.orig
public/system/
public/system/**/*
public/stylesheets/compiled/
public/stylesheets/compiled/**/*
capybara*.html
*(Autosaved).txt
*(Autosaved).feature
current.test
spec/reports
config/database.yml
results/**/*
current.test
current.feature
coverage/**/*
coverage.data
coverage/index.html
coverage
solr/data
.DS_Store
public/sitemap*.gz
public/sitemaps/
public/sitemaps/**/*
tags
